<div class="main">
  <div class="container">
    
    <h2>Courses</h2>


    <p align= "center" ><button type="button" class="btn btn-default btn-lg"><%= link_to 'New Course', "courses/new" %></button></p>
    


  <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Learn more</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |c| %>
    <tr>
      <th scope="row"><% c.id %></th>
      <td><%= c.name %></td>
      <td><%= c.description %></td>
      <td><%= c.status %></td>
      <td><%= link_to "Learn more", course_path(c) %></td>
    </tr>
    <% end %>
  </tbody>
</table>



  </div>
</div>