<div class="main">
  <div class="container">
    <h2>Create Course</h2>
        <div class="course">
              <%= form_for(@student) do |f| %>  
              <div class="field"> 
                  <%= f.label "Name" %>
                  <%= f.text_field :name %><br> 
                  <%= f.label "Registration Number" %>
                  <%= f.text_field :register_number %><br> 
                  <%= f.label "Status" %>
                  <%= f.check_box :status %><br> 

                  <%= hidden_field_tag "student[course_ids][]" ,nil %>
                  <% Course.all.each do |course| %>
                  <%= check_box_tag "student[course_ids][]", course.id, @student.course_ids.include?(course.id), id: dom_id(course) %>
                  <%= label_tag dom_id(course), course.name %><br>
                  <% end %>



              </div>

              </div> 
              <div class="actions"> 
                  <%= f.submit "Save" %> 
              </div> 
              <% end %>
        </div>
  </div>
</div>